.lp-advantages-3 {
	position: relative;
	overflow: hidden;
	background: #fff;
	padding: 32px 0 1px;
}

.lp-advantages-3 .lp-block-bg {
	background-image: url(/g/s3/lp/lp.v3/img/lp-image-3.jpg);
}

.lp-advantages-3__item {
	text-align: center;
	margin: 0 0 32px;
}

.lp-advantages-3__title {
	margin: 0 0 32px;
	text-align: center;
}

.lp-advantages-3__item-icon {
	font-size: 0px;
	margin-bottom: 16px;
	margin-left: auto;
	margin-right: auto;
	width: 48px;
    height: 48px;
}

.lp-advantages-3__item-icon svg {
	width: 100%;
	height: 100%;
}

.lp-advantages-3__item-icon path:not([fill]) {
	fill: var(--text-color-d-5);
}

.lp-advantages-3__item-text {
	margin-top: 6px;
}

.lp-advantages-3__inner {
	padding-bottom:1px;
}

.lp-advantages-3__inner-text {
	margin: 16px auto 48px;
	max-width: 848px;
	text-align:center;
}

.lp-advantages-3__buttons-wrap {
	text-align: center;
}

.lp-advantages-3__button {
	/* display: block; */
	margin: 0 0 16px;
}

@media all and (max-width: 599px) {
	.lp-advantages-3__button {
		display: flex;
	}
}

@media all and (min-width: 600px) {
	.lp-advantages-3 {
		padding: 64px 0 32px;
	}
	
	.lp-advantages-3__item-text {
		margin-top: 8px;
	}
	
	.lp-advantages-3__button {
		/* display: inline-block; */
		margin: 0 8px 16px;
	}
	
	.lp-advantages-3__inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 -12px;
	}
	
	.lp-advantages-3__item {
		box-sizing: border-box;
		width: 276px;
		margin: 0 12px 32px;
	}
}

@media all and (min-width: 960px) {
	.lp-advantages-3__inner {
		margin: 0 -24px;
	}
	
	.lp-advantages-3__item {
		flex: 1 0 26%;
		max-width: 33.34%;
		padding: 0 24px 0px;
	}
	
	._2 .lp-advantages-3__item {
		flex: 1 0 35%;
		max-width: 50%;
	}
	
	.lp-advantages-3__title {
		margin: 0 0 48px;
	}
}

@media all and (min-width: 1200px) {
	.lp-advantages-3 {
		padding: 80px 0 48px;
	}
	
	.lp-advantages-3__inner {
		margin: 0 -12px;
	}
	
	.lp-advantages-3__item {
		flex: 1 0 21%;
		max-width: 25%;
		padding: 0 12px 0px;
	}
	
	._3 .lp-advantages-3__item {
		flex: 1 0 26%;
		max-width: 33.34%;
	}
	
	.lp-advantages-3__title {
		margin-left: auto;
		margin-right: auto;
		max-width: 848px;
	}
}

@media all and (min-width: 1380px) {
	.lp-advantages-3__inner {
		margin: 0 -16px;
	}
	
	.lp-advantages-3__item {
		padding: 0 16px 0px;
	}
}