.lp-gallery-15 {
    padding: 40px 0;
    overflow: hidden;
}

.lp-gallery-15-wrap {
    position: relative;
    z-index: 1;
}

.lp-gallery-15 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.lp-gallery-15-slider-wrap {
    padding: 0 16px;
    margin-top: 24px;
    position: relative;
    display: flex;
    justify-content: center;
}

.lp-gallery-15-header {
    padding: 0;
    margin: 0;
}

.lp-gallery-15-paragraph {
    padding: 0;
    margin: 8px 0 0;
}

.lp-gallery-15-text {
    text-align: center;
    padding: 0 16px;
}

.lp-gallery-15-slider__item {height: 217px;}

.lp-gallery-15-slider__item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: 0.8s;
}

.lp-gallery-15-slider__item:hover img {
    transform: scale(1.2);
}

.lp-gallery-15-slider {
    font-size: 0;
}

.lp-gallery-15-slider .owl-item:not(.active) {
    opacity: 0.3;
}

.lp-gallery-15-arrow {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    z-index: 1;
}

.lp-gallery-15-arrow-left {
    left: 8px;
}

.lp-gallery-15-arrow-right {
    right: 8px;
}

.lp-gallery-15-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 16px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 16px;
}

@media all and (min-width: 600px) {
    .lp-gallery-15-dots {
        max-width: 600px;
    }

	.lp-gallery-15-slider.owl-carousel .owl-stage-outer {
	    overflow: visible;
	}
}

.lp-gallery-15-dots .slick-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: -6px -8px;
    list-style: none;
    font-size: 0;
    padding: 0;
}

@media all and (min-width: 600px) {
    .lp-gallery-15-dots .slick-dots {
        margin: -8px;
    }
    
    .lp-gallery-15-slider__item {height: 282px;}
}

.lp-gallery-15-dots .slick-active button {
    opacity: 1;
}

.lp-gallery-15-dots button {
    border: none;
    width: 12px;
    height: 12px;
    margin: 6px 8px;
    opacity: 0.3;
    border-radius: 50%;
    background-color: var(--primary-color-base);
}

@media all and (min-width: 600px) {
    .lp-gallery-15-dots button {
        width: 16px;
        height: 16px;
        margin: 8px;
    }
}

.lp-gallery-15-buttons {
	margin: 16px -8px 0;
	text-align: center;
	position: relative;
	padding: 0 16px;
}

.lp-gallery-15-buttons__item {
	margin: 16px 8px 0;
	/* display: block; */
}

@media all and (max-width: 599px) {
	.lp-gallery-15-buttons__item {
		display: flex;
	}
}

@media all and (min-width: 600px) {
    .lp-gallery-15 {
        padding: 56px 0;
    }
    
    /* .lp-gallery-15-buttons__item {display: inline-block;} */

    .lp-gallery-15-paragraph {
        margin-top: 16px;
    }

    .lp-gallery-15-text {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    .lp-gallery-15-slider-wrap {
        padding: 0;
        margin-top: 32px;
    }

    .lp-gallery-15 .slick-list {
        overflow: unset;
        height: 282px;
        width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    .lp-gallery-15 .slick-slide {
        margin: 0 12px;
        opacity: 0.7;
        -webkit-transition-duration: 0.8s;
        transition-duration: 0.8s;
        -webkit-transition-property: opacity;
        transition-property: opacity;
        will-change: opacity;
    }

    .lp-gallery-15 .slick-slide._active {
        -webkit-transition-duration: 0.8s;
        transition-duration: 0.8s;
        -webkit-transition-property: opacity;
        transition-property: opacity;
        opacity: 1;
    }

    .lp-gallery-15-slider {
        width: 376px;
    }

    .lp-gallery-15-arrow-left {
        left: 50%;
        -webkit-transform: translate(-196px, -50%);
        transform: translate(-196px, -50%);
    }

    .lp-gallery-15-arrow-right {
        right: 50%;
        -webkit-transform: translate(196px, -50%);
        transform: translate(196px, -50%);
    }

    .lp-gallery-15-slider.owl-carousel {
        width: 376px;
    }
}

@media all and (min-width: 960px) {
	.lp-gallery-15-buttons {
		margin-top: 16px;
	}
	
	/* .lp-gallery-15-buttons__item {
		display: inline-block;
	} */
	
    .lp-gallery-15 {
        padding: 64px 0;
    }

    .lp-gallery-15-text {
        max-width: 960px;
    }

    .lp-gallery-15-slider-wrap {
        margin-top: 40px;
    }

    .lp-gallery-15 .slick-list {
        height: 444px;
        width: 640px;
    }

    .lp-gallery-15 .slick-slide {
        margin: 0 24px;
    }

    .lp-gallery-15-slider.owl-carousel {
        width: 592px;
    }

    .lp-gallery-15-arrow-left {
        -webkit-transform: translate(-304px, -50%);
        transform: translate(-304px, -50%);
    }

    .lp-gallery-15-arrow-right {
        -webkit-transform: translate(304px, -50%);
        transform: translate(304px, -50%);
    }
    
    .lp-gallery-15-slider__item {height: 444px;}
    
    .lp-gallery-15-dots {
    	max-width: 100%;
    }
}

@media all and (min-width: 1200px) {
    .lp-gallery-15 {
        padding: 80px 0;
    }

    .lp-gallery-15-text {
        max-width: 848px;
        padding: 0;
    }
    
    .lp-gallery-15-slider__item {height: 570px;}

    .lp-gallery-15-slider-wrap {
        margin-top: 48px;
    }

    .lp-gallery-15 .slick-list {
        height: 570px;
        width: 784px;
    }

    .lp-gallery-15 .slick-slide {
        margin: 0 12px;
    }

    .lp-gallery-15-slider.owl-carousel {
        width: 760px;
    }

    .lp-gallery-15-arrow-left {
        -webkit-transform: translate(-388px, -50%);
        transform: translate(-388px, -50%);
    }

    .lp-gallery-15-arrow-right {
        -webkit-transform: translate(388px, -50%);
        transform: translate(388px, -50%);
    }
}

@media all and (min-width: 1380px) {
    .lp-gallery-15 .slick-list {
        height: 636px;
        width: 880px;
    }
    
    .lp-gallery-15-slider__item {height: 636px;}

    .lp-gallery-15 .slick-slide {
        margin: 0 16px;
    }

    .lp-gallery-15-slider.owl-carousel {
        height: 636px;
        width: 848px;
    }

    .lp-gallery-15-arrow-left {
        -webkit-transform: translate(-432px, -50%);
        transform: translate(-432px, -50%);
    }

    .lp-gallery-15-arrow-right {
        -webkit-transform: translate(432px, -50%);
        transform: translate(432px, -50%);
    }
}

.lp-gallery-15 .lg-pointer-events {
	pointer-events: none;
}