.text-block-9 {
	padding: 40px 0;
}

.text-block-9 [class*="lp-header"] {
	padding: 0;
	margin: 0;
}

.text-block-9__title, .text-block-9__button-wrapper {
	text-align: center;
}

.text-block-9__title + .text-block-9__text {
	padding-top: 16px;
}

.text-block-9__text p:first-child {
	margin-top: 0
}
.text-block-9__text p:last-child {
	margin-bottom: 0
}

.text-block-9__button-wrapper {
	padding-top: 24px;
}

.text-block-9__button {
	/* display: block; */
	margin: 0 0 16px;
}

.text-block-9__button .lp-button__text {
	min-width: 240px;
}

.text-block-9__block + .text-block-9__block {
	margin-top: 24px;
}

.text-block-9__card-pic {
	font-size: 0;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	z-index: 1;
	margin: 0 auto;
	width: 256px;
	height: 296px;
}

/*.text-block-9__card-pic img {
	width: 100%;
	height: 100%;
    object-fit: cover;
    object-position: center;
}*/

.text-block-9__card-text-wrapper {
	background: rgba(31, 80, 161, 0.05);
	padding: 64px 16px 24px;
	margin-top: -48px;
	text-align: center;
}

.text-block-9__card-title + .text-block-9__card-text { 
	padding-top: 8px; 
}

.text-block-9__card-part:empty {display: none;}

.text-block-9__block._no-sub-block {
	max-width: 848px;
	margin-right: auto;
	margin-left: auto;
}


@media all and (min-width: 600px) {
	.text-block-9 {
		padding: 64px 0;
	}
	
	.text-block-9__title + .text-block-9__text {
		padding-top: 24px;
	}
	
	.text-block-9__button {
		/* display: inline-block; */
		margin: 0 8px 16px;
	}
	
	.text-block-9__card-pic {
		width: 328px;
		height: 376px;
	}
	
	.text-block-9__card-part {
		width: 376px;
		margin: 0 auto;
	}
	
	.text-block-9__card-text-wrapper {
		padding: 64px 24px 24px;
		margin-top: -48px;
	}
}

@media all and (min-width: 960px) {
	.text-block-9__title, .text-block-9__button-wrapper {
		text-align: left;
	}
	
	.text-block-9__block + .text-block-9__block {
		margin: 0 0 0 64px;
	}
	
	.text-block-9__inner {
		display: flex;
		align-items: center;
	}
	
	.text-block-9__card-part {
		flex: none;
		width: 368px;
	}
	
	.text-block-9__card-pic {
		width: 320px;
		height: 376px;
	}
	
	.text-block-9__button-wrapper {margin-left: -8px;}
}

@media all and (min-width: 1200px) {
	.text-block-9 {
		padding: 80px 0;
	}
	
	.text-block-9__title + .text-block-9__text {
		padding-top: 32px;
	}
	
	.text-block-9__button-wrapper {padding-top: 32px;}
	
	.text-block-9__block + .text-block-9__block {
		margin: 0 0 0 122px;
	}
	
	.text-block-9__card-pic {
		height: 400px;
	}
	
	.text-block-9__card-text-wrapper {
		padding: 72px 24px 32px;
	}
}

@media all and (min-width: 1380px) {
	.text-block-9__card-pic {
		width: 360px;
	}
	
	.text-block-9__card-part {
		width: 408px;
	}
}